<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756522716813-71ps3vc4nbdcfo07krb5di4opecptfdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756522716813-71ps3vc4nbdcfo07krb5di4opecptfdv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756522716813-fpob2e59t21vso0jkj1os8kuh92m7kpp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAR4s1KMdx_XycUrA0Fn-xXJErXW2Aynno</string>
	<key>GCM_SENDER_ID</key>
	<string>756522716813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tapneat</string>
	<key>PROJECT_ID</key>
	<string>tapneat-1969b</string>
	<key>STORAGE_BUCKET</key>
	<string>tapneat-1969b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756522716813:ios:b5f721ee9cb655c1885cc4</string>
</dict>
</plist>